*{
  padding: 0;
  margin: 0;
  font-family: 'Abhaya Libre', serif;
  ::-webkit-scrollbar {display:none;}
}
html{
  background-color: rgb(210, 210, 210) !important;
}
/* -------------------Background Images---------------------- */
.backgroundImages{
  z-index: 0;
  position: absolute;
  width: 100%;
}
.backgroundImagesContent1{
  opacity: 0.4;
  transform: rotate(210deg);
}
.backgroundImagesContent2{
  opacity: 0.4;
  transform: rotate(320deg);
}
.backgroundImagesContent3{
  opacity: 0.4;
  transform: rotate(320deg);
  margin-top: 25%;
  margin-left: -25%;
}
.backgroundImagesContent4{
  opacity: 0.4;
  transform: rotate(240deg);
  margin-top: 250%;
}
.backgroundImagesContent5{
  opacity: 0.4;
  transform: rotate(260deg);
  margin-top: 20%;
}
/* --------------------Product Card------------------------- */
.produccard_background{
  background-color: rgb(51, 140, 108);
  color: rgb(210, 210, 210);
  width: 100%;
  padding: 2%;
  margin: 1%;
  border-radius: 2rem;
  position: relative;
}
/* ----------------------Navbar----------------------------- */
.navbar_background{
  background-color: rgb(51, 140, 108) !important;
  position: sticky;
}
.navbar_Search{
  background-color: rgb(51, 140, 108) !important; 
  border-color: rgb(51, 140, 108) !important;
  border-bottom-color: black !important;
  border-radius: 0%;
  text-decoration: none;
  color: rgb(210, 210, 210) !important;
}
.navbar_Lineblack{
  border-bottom-color: black !important;
}
.navbar_LineWhite {
  border-bottom-color: rgb(210, 210, 210) !important;
  transition: all 0.7s ease;
}
.navbar_LineWhite::placeholder { 
  color: rgb(210, 210, 210);
  transition: all 0.7s ease;
}
/* --------------------- Cart ------------------------------ */
.cart_product_image{
  width: 100%;
}
.cartContent{
  width: 350px;
}
.cartContentPrice{
  font-weight: bold;
  color: rgb(51, 140, 108);
}
.cartContentText{
  text-align: right;
}
.dropdown-toggle::after {
  display: none !important; 
}
.cartIcon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control{
  width: 500px;
}
.name{
  margin-top: 2%;
  margin-left: 5%;
}
.price{
  text-align: left;
  margin-left: 5%;
}
.product_image{
  border-radius: 2rem;
}
.product_image:hover{
  cursor: pointer;
}
.jumpSpace{
  margin-bottom: 5%;
}
.main{
  background-color: rgb(210, 210, 210) !important;
  z-index: -1;
}
/*-------------------------- Article style ------------------------------*/
.article_style{
  background-color: rgb(51, 140, 108);
  padding: 3%;
  margin: 1%;
  margin-top: 5%;
  border-radius: 10%;
  position: relative;
}
.article_text{
  font-family: 'Abhaya Libre', serif;
  color: whitesmoke;
  margin-top: 2%;
  margin-left: 2%;
}
/*------------------------- Image slideshow -----------------------------*/
.slideshow {
  margin: 0 auto;
  overflow: hidden;
}
.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slide {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
}
/*--------------------------- Buttons -----------------------------------*/
.slideshowDots {
  text-align: center;
}
.slideshowDot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}
.slideshowDot.active {
  background-color: grey;
  border: none;
}
/*--------------------------- Filter ----------------------------------*/
.Filter_box{
  background-color: rgb(210, 210, 210);
  border-radius: 2.5rem;
  border: 1px solid black ;
  padding: 1rem;
  z-index: 0;
  position: relative;
  margin-left: 1rem;
  width: 280px;
}
.button{
  background-color: rgb(51, 140, 108);
  border: none;
  border-radius: 5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  min-width: 5rem;
}
.button:hover{
  opacity: 90%;
}
.active{
  background-color: rgb(51, 110, 108);
  border: 1px solid black;
}
.filterText{
  text-align: center;
  border-bottom: 1px solid black;
}
/*------------------------ Product Modal --------------------------*/
.product_modal{
  width: 1000px;
  height: 700px;
  margin: auto;
  margin-top: 5%;
  background-color: rgb(0, 128, 128);
  padding: 1rem;
  border-radius: 3rem;
  z-index: 1;
}
.product_modal_close{
  float: right;
}
.product_modal_image{
  border-radius: 2rem;
}
.product_modal_title{
  font-size: 30px;
  color: rgb(210, 210, 210);
}
.product_modal_price{
  font-size: 35px;
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgb(210, 210, 210);
}
.product_modal_content{
  font-size: 20px;
  color: rgb(210, 210, 210);
}
.product_modal_desc{
  color: rgb(210, 210, 210);
}
.galery_images{
  width: 20%;
  padding: 0.5rem;
  border-radius: 1rem;
}
.galery_images:hover{
  border: 1px solid rgb(210, 210, 210);
}
.cart_modal_image{
  width: 70%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.cart_modal_row{
  padding: 0.7rem;
}
.gomb{
 z-index: 0;
 text-align: center;
 background-color: rgb(0, 128, 128) !important;
 color: rgb(210, 210, 210) !important;
}
.cart_height{
  height: 500px;
}
.dropdown-menu{
  --bs-dropdown-link-active-bg: transparent;
  --bs-dropdown-link-hover-bg: none ;
  --bs-dropdown-link-active-color: none;
}